body {
    margin: 0;
    font-family: "helvetica", sans-serif;
}

a {
    text-decoration: none;
    color: lightgray;
}

img {
    object-fit: cover;
    object-position: 0% 70%;
    height: 180px;
    width: 600px;
    border: 1px solid lightcoral;
}
button {
    background-color: lightcoral;
    max-width: 7em;
    padding: 0.6em 1em;
    color: #f9faf8;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
    border: none;
}

.banner {
    display: flex;
    align-items: center;
    padding: 1em 10em;
    gap: 1em;
    background-color: #1f2937;
}
#headerLogo {
    margin-right: auto;
    color: lightcoral;
    font-size: 24px;
    font-weight: 900;
}

.main {
    display: flex;
    align-items: center;
    padding: 3em 10em;
    gap: 2em;
}
.main.first {
    background-color: #1f2937;
}
#heroText {
    display: flex;
    flex-flow: column;
    gap: 1em;
}
#awesome {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}
.sub1 {
    font-size: 18px;
    color: #e5e7eb;
}

.main.second {
    flex-direction: column;
    justify-content: center;
    /*background-image: url(./images/pink-sky.webp);
    background-size: 100vw;
    background-repeat: no-repeat;*/
    border-top: 0.5em solid lightcoral;
    border-bottom: 0.5em solid lightcoral;
    gap: 6em;
}
.second img {
    width: 160px;
    height: 160px;
    border-radius: 1em;
}
#extravagant {
    font-size: 42px;
    font-weight: 900;
    font-family: "Garamond", fantasy;
    color: #1f2937;
}
.horizontalDisplay {
    display: flex;
    gap: 5em;

}
.horizontalDisplay div {
    display: flex;
    gap: 1em;
    flex-direction: column;
    text-align: center;
    max-width: 160px;
    color: #1f2937;
    font-weight: 500;
}

.main.third {
    background-color: #e5e7eb;
    padding: 3em 20em;
    border-bottom: 0.5em solid lightcoral;
}
#quote {
    font-size: 36px;
    font-family: 'Optima', 'Garamond', serif;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}
#quoteEnd {
    font-size: 22px;
    font-weight: 700;
    align-self: flex-end;
    padding: 0.5em 1em;
}

.card {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 2.5em 5em;
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    gap: 2em;
    flex: auto;
    justify-content: space-between;
}
.main.fourth {
    justify-content: center;
}
.cta {
    font-size: 1.5em;
    font-weight: bold;
}

.banner.foot {
    color: lightgray;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-top: 1px solid lightcoral;
}